html,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input{margin:0px;padding:0px;border:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{margin:0px; padding:0px; border:0px; }
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
html,body,#pages{height:100%; width:100%;margin-left:auto;margin-right:auto; }

.fade {position: absolute; height:100%;width:100%;opacity:1;z-index:-105; background-image:url('Images/bannerbg.jpg'); background-repeat:no-repeat;background-position:center;background-size:70% 100%;margin-left:auto;margin-right:auto;}
.fade2 {position: absolute; height:100%;width:100%;background-color:#FFFFDD;opacity:1;z-index:-150;  background-repeat:repeat; background-image:url('Images/coffee9.jpg'); }
.overlay {height:100%; width:100%; position:relative; margin-left:auto; margin-right:auto;}
.blackbox {height:100%; width:100%; position:absolute; background-color:black; opacity:0.7;z-index:-50;display:none;}

/*@media only screen and (max-device-width: 480px)  {
html,body,#pages{height:70%;width:100%;margin-left:auto;margin-right:auto; user-scalable:yes; margin-top:auto; margin-bottom:auto;}
.fade {position: absolute; height:100%;width:100%;opacity:1;z-index:-105; background-image:url('Images/bannerbg.jpg'); background-repeat:no-repeat;background-position:center;background-size:100% 100%;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-o-background-size:100% 100%;-ms-background-size:100% 100%;margin-left:auto;margin-right:auto;}
.overlay {height:100%; width:100%; position:relative; margin-left:auto; margin-right:auto;}
.fade2 {position: absolute; height:100%;width:100%;background-color:#C0C0C0;opacity:1;z-index:-150; background-image:url('Images/coffee8.jpg'); }
.overlay {height:100%; width:100%; position:relative; margin-left:auto; margin-right:auto;}
}
*/



@font-face {
font-family: penscript;
src: url("Images/penscript.otf") format("opentype");
}

.img-txt{display:block;}.img-txt>a,.img-txt>span{display:none;}
body{font-family:'Gentium Basic',serif; font-family:'Dawning of a New Day', cursive;font-family:'Kaushan Script', cursive;font-weight:500;color:#663a2a;-webkit-font-smoothing:antialiased;overflow-x:scroll;overflow-y:scroll;}

h1{font-size:4em; color:#700000; line-height:100%;font-weight:500;font-family:'Devonshire',cursive; position:relative;text-align:left; text-shadow: 1px 1px 2px #663333;}
h2{font-size:3em; color:#700000; line-height:100%;font-weight:500;font-family:'Devonshire',cursive; position:relative;text-align:left; text-shadow: 1px 1px 2px #663333;}
h3{font-size:2em; color:#700000; line-height:100%;font-weight:500;font-family:'Devonshire',cursive; position:relative;text-align:left; text-shadow: 1px 1px 2px #663333;}
.lifeof {z-index:5;color:#FFFFFF;font-family:'Dawning of a New Day',cursive; font-weight:900; font-size:250%; text-align:center;word-wrap:break-word;text-shadow:1px 1px 1px #FFFFCC;}
h4{font-weight:500;color:#7fd2ff;}
.topbar{width:70%; height: 10%; background-color:#FFFFDD; margin:0px; padding:0px; border:0px; vertical-align:middle; margin-left:auto; margin-right:auto; opacity: 0.8;}
.topbar img{float: left; vertical-align: middle; background-color:#FFFFDD; height:100%; margin-right:10px; }
.topbar h1{ position:relative; vertical-align:middle;}

.main{z-index:10;position:relative;width:70%; margin-left: auto; margin-right:auto; height: 90%; padding:0; border:0;}

a{color:#669993; cursor: pointer; font-weight:900; underline:none;}

.main  .banners {position:absolute; height:90%; width: 78%; top:5%; left:17%;}
/*.main .rop .banners .innerbg {position:absolute; bottom:0; opacity:0.6; height:100%; background-color:#FF4000; display:none; border-radius: 15px; background-image:url('Images/coffeebg.jpg'); background-size: 100%; font-family:Tahoma, Geneva, sans-serif; font-weight:600; width:100%; padding-top:0; line-height:100%; overflow:auto; color:#FFFF00; font-size:100%;padding-left:2%;padding-right:2%; z-index: 3;}*/
.main  .banners .innercolor {position:absolute; top:0; opacity:0.9; height:100%; background-color:#F0F0F0; display:none; border-radius: 15px;  font-family:Tahoma, Geneva, sans-serif; font-weight:600; width:100%; padding-top:0; line-height:100%; overflow:auto; font-size:100%;padding-left:2%;padding-right:2%; z-index:200;}
.main  .banners .inner {position:absolute; top:0; opacity:1; height:100%; display:none; border-radius: 15px;  font-family:'Gentium Basic',serif; font-style:italic;font-weight:400; width:100%; padding-top:0; line-height:150%; overflow:auto; color:#669933; font-weight:500; font-size:1.5em;padding-left:2%;padding-right:2%; z-index:200; }
.main .banners .inner b{font-weight:900; color: #447733;}
.main  .banners .inner h2 {color:#700000; z-index:200; font-family:'Gentium Basic',serif; font-style:italic; font-weight:bold; text-decoration:underline; text-align:center;font-size:1.5em;} 
.main  .tline {position:relative; color:#0099CC; height:2px; width: 80%; margin-left:auto; margin-right:auto; background-color:#0099CC; box-shadow:2px 2px 2px #99CCFF;}


.main .links{position:absolute; width:15%; top:20%; height:60%; padding:1%;}
/*.main .links img{float: left; vertical-align: middle; background-color:#FFFFDD; height:100%; }*/
/*.main .links ul{margin-left:auto; margin-right:auto; width:100%;}*/
/*.main  .links .link {position: relative; height:25%; width:70%; left:10%; background:url('Images/postit.png') top left; background-size:100% 100%; padding:0; border: 0; cursor:pointer;}*/
.main  .links .link {position: relative; height:20%; width:90%; background-size:100% 100%; margin:5%; border-radius: 15px; cursor:pointer; background-color:#FFFFDD;  box-shadow: 1px 1px 1px 1px; text-align:center;}
.main  .links .linkclicked {position: relative; height:20%; width:90%; background-size:100% 100%; margin:5%; border-radius: 15px; cursor:pointer; background-color:#FFFFBB; color:#339933;  box-shadow: 2px 2px 2px 2px; }
 .ltext {position: absolute; top:20%; left: 10%; max-height:80%; max-width:80%; font-family:'Gentium Basic',serif; font-style:italic;font-size: x-large; font-weight:bold;color:#339933; text-align:center;}

.main  .links .link:hover{color: #339933; cursor:pointer; background-color: #FFFFAA; }
.main  .links .linkclicked:hover{color: #339933; cursor:pointer; background-color: #FFFFAA; }



/*.main .links ul>li{display:inline-block; position:relative;font-family:"Dawning of a New Day", cursive;font-size:200%; font-weight:900; line-height:110%;white-space: nowrap; opacity:0.9; width:23%; text-align:center; color:#FF6633;border-radius:0px; background-image:url('Images/postit.png");  }
.main .links ul>li a{z-index:2;display:inline-block; text-align:center; font-weight:400;cursor:pointer;font-family:"Devonshire", cursive;font-size:110%; font-weight:500;}
.main .links ul>li:hover{background-color:#E6E6E6; display:inline-block;font-weight:400; cursor:pointer;}
*/

@media all and (orientation: portrait) {  
.fade {position: absolute; height:65%;width:100%;opacity:1;z-index:-105; background-image:url('Images/bannerbg.jpg'); background-repeat:no-repeat;background-size:100% 100%;margin-left:auto;margin-right:auto;}
      	.overlay { width: 100%; }
html body {height:65%; max-height:65%;} 
.main {width:90%;}
}  
  
